* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #1f57b2;
}

.container {
  display: flex;
  align-items: center;
  background-color: #1127d0;
  height: 90px;
  padding: 30px 25px;
}

.container > h3, .container > h4 {
  margin: 0;
}

.container > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;
}
nav > h4 {
  color: #DEEBF8;
  font-weight: 600;
}
.container > img {
  height: 30px;
  margin-right: 7px;
}

.main_div{
display: flex;
flex-direction: column;
background-color: #1f57b2;
padding: 57px 27px;
color: white;
background-image: url(./images/react-icon-large.png);
background-repeat: no-repeat;
background-position-x: right;
background-position-y: 75%;
/* background-position: right 75%; */
/*  or  background-position-y: center;*/
}

.h1{
  margin-left: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.ul {
  margin-top: 36px;
  max-width: 400px;
  font-size: 20px;

}
.ul > li{
  letter-spacing: -0.007em;
 line-height: 19px;
 padding-block: 10px;
}
.ul > li::marker{
 font-size: 1.4rem;
 color: #61DAFB;
}

